<!doctype html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    maximum-scale=1, user-scalable=no">
    <title><%= @schedule_name %></title>
    
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<style>
	html {background-color: lightgrey}
	</style>
</head>

<body>

<div class="container"><div class="row"><div class="col-md-12">
<h1><%= @schedule_name %></h1>

<table class="table">
	<thead>
		<tr>
			<th>Event</th>
			<th>Start Time</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
	<% @redis.get("#{@s_id}:num_events").to_i.times do |i| %>
		<tr>
			<td><%= @redis.get("#{@s_id}:event_#{i}:name") %></td>
			<td><%= @redis.get("#{@s_id}:event_#{i}:time") %></td>
			<td><%= @redis.get("#{@s_id}:event_#{i}:location") %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<form class="navbar-form" name="input" action="/setup/<%= @s_id %>" method="get">
<!--needs to link to specific schedule ID-->
<div class="input-group input-group-lg">
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Add Event</button>
    </span>
</div>
</form>
</div></div></div>
</body>
</html>